{% if page.url == "/search.html" %}
<li class="active">{% else %}
<li>{% endif %}

  <a href="#stq=" class="search-button" data-toggle="modal" data-target="#myModal"><span class="octicon octicon-search">&nbsp;&nbsp; Search</span></a>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <form action="get" id="site_search">
            <input type="text" id="search_box" placeholder="Search">
            <button class="btn btn-default" type="submit"><span class="octicon octicon-search"></span></button>
          </form>
        </div>
        <div class="modal-body">
          <ul id="search_results"></ul>
        </div>
      </div>
    </div>
  </div>
</li>