<!DOCTYPE html>
<html>

{% include head.html %}

<body>
{% include header.html %}

<div class="main">

  <div class="section">
      <div class="intro-wrapper" id="large-header">
          <div class="content">
              <div class="title">
                  <p class="title-en">CONNECTION INSIGHT ACQUISITION</p>
                  <p class="title-zh">连接<span class="dot"></span>洞察<span class="dot"></span>获取</p>
              </div>
              <canvas id="index-canvas" ></canvas>
          </div>
      </div>
  </div>
</div>

{% include footer.html %}

</body>
</html>
